header {
  min-height: 80vh;
}

.couch-img {
  top: 14rem;
}

.app-image {
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  header {
    min-height: 60vh;
  }
}
@media screen and (max-width: 576px) {
  header {
    min-height: 50vh;
  }
}
